{#
/**
 * @file digital_publication_title.html.twig
 * Default theme implementation to present Digital publication title data.
 *
 * This template is used when viewing Digital publication title pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_digital_publication_title()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('digital_publication_title') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
