<!-- Add you custom twig html here -->

<main>
    {% if metadata|length > 0 %}
    <header>
        <dl>
            <dt>Descriptor</dt>
            <dd>Value</dd>
        </dl>
    </header>

    <section class="digital-serial-page-meta col-sm-8">
        <dl>
            {% for label,value in metadata %}
                <dt>{{ label }}</dt>
                <dd>{{ value }}</dd>
            {% endfor %}
        </dl>
    </section>

    <aside class="digital-serial-page-preview col-sm-4">
        {{ page_list }}
    </aside>
    {% endif %}
</main>
