<!-- Add you custom twig html here -->

<main>
    {% if metadata|length > 0 %}
    <header>
        <dl>
            <dt>Descriptor</dt>
            <dd>Value</dd>
        </dl>
    </header>

    <section>
        <dl>
            {% for label,value in metadata %}
                <dt>{{ label }}</dt>
                <dd>{{ value }}</dd>
            {% endfor %}
        </dl>
    </section>
    {% endif %}

    {{ page_list }}
</main>
