<!-- Add you custom twig html here -->

<main class="row">
    {% if metadata|length > 0 %}
    <section class="digital-serial-page-meta col-sm-8 float-left">
        <dl class="clearfix">
            {% for label,value in metadata %}
                <dt>{{ label }}</dt>
                <dd>{{ value }}</dd>
            {% endfor %}
        </dl>
        {% if display_report_link %}
        <div class="report-form">
          <a class="bg-light border border-secondary btn btn-sm text-dark"
             href="{{ report_url }}"><span aria-hidden="true" class="fas fa-envelope"></span>
            Report additional information or errors
          </a>
        </div>
        {% endif %}
    </section>

    <aside class="digital-serial-page-preview col-sm-4 float-row">
        {{ page_list }}
    </aside>
    {% endif %}
</main>
