// Breadcrumb fix: NBNP 'Home' breaks convention & links to 'lib.unb.ca'
ol.breadcrumb {
  font-size: 1rem;

  li {
    height: 1.5rem;
  }

  a[href="https://lib.unb.ca"] {
    display: inline-block;
    height: 1rem;
    position: relative;
    right: 9999px;
    width: 1rem;

    &:after {
      content: "\f015";
      font: var(--fa-font-solid);
      font-size: 80%;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      position: absolute;
      right: -9999px;
      top: .25rem;
    }
  }

  a[href="/"] {
    right: auto;
    width: auto;

    &:after {
      content: '';
    }
  }

  .placeholder {
    margin-left: .25rem;
  }
}
