#sidebarFacets {
  aside {
    padding-top: .35rem;
  }
}

.facets-widget-range_slider,
.facets-widget-checkbox {
  h3 {
    border-bottom: 1px solid $gray-700;
    color: $gray-700;
    font-family: 'ProximaNovaA-SemiBold','Century Gothic',AppleGothic,Arial,sans-serif;
    font-size: 1.1rem;
    font-weight: normal;
    margin-bottom: 1rem;
  }
}

.facets-widget-checkbox {
  ul {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    padding-left: .35rem;
  }

  .facet-item {
    align-items: flex-start;
    display: flex;
    flex-wrap: nowrap;
    font-size: initial;
    margin-bottom: .65rem;

    input[type="checkbox"],
    label {
      display: inline-block;
      float: none;
      line-height: initial;

      .facet-item__count {
        color: $gray-600;
        letter-spacing: 1px;
      }
    }

    input[type="checkbox"] {
      margin-left: 2px;
      margin-right: 0.5rem;
      margin-top: 0.2rem;
      transform: scale(1.32);

      &:focus-visible {
        outline-color: #0075ff;
      }
    }
  }
}

.facet-slider {
  margin: 3em 1em 0 1.15em;
}
.sidebar .block.block-facet--range-slider {
  padding-bottom: 1rem;
}
.ui-slider-pip-first .ui-slider-label:hover,
.ui-slider-pip-last .ui-slider-label:hover {
  text-decoration: underline;
  z-index: 1;
}
.ui-slider-pips {
  .ui-slider-label {
    color: $text-muted;
  }
  .ui-slider-pip-selected-1,
  .ui-slider-pip-selected-2 {
    .ui-slider-label {
      color: $link-color;
    }
  }
}

ul.js-facets-checkbox-links + a::before {
  content: "\f067";
  display: inline-block;
  font: var(--fa-font-solid);
  margin-bottom: 2px;
  margin-right: .5rem;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-size: 11px;
  margin: 0 .25rem;
  vertical-align: baseline;
}
ul.js-facets-checkbox-links + a.open::before {
  content: "\f068";
}
.facet-item:hover,
.facet-item:hover input {
  cursor: pointer;
}
.facet-item__value {
  color: $link-color;
  text-transform: capitalize;
}
.facet-item input:focus,
.facet-item input:focus + label .facet-item__value,
.facet-item input:hover,
.facet-item:hover .facet-item__value {
  color: $link-color-hover;
  text-decoration: underline;
}
.facet-item:hover {
  .facets-checkbox {
    box-shadow: 0 0 1px #0075ff;
  }
}

.facets-soft-limit-link {
  border-radius: 0.25rem;
  display: inline-block;
  margin-left: 0.15em;
  padding: 0.15rem 0.25rem 0.15rem 0;

  &:focus,
  &:hover {
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,0.25);
    text-decoration: none!important;
  }
}
/* Slider facet override */
.facets-widget-range_slider {
  .ui-slider-handle {
    &:focus,
    &:hover {
      background: $link-color-hover;
    }
  }
}
.item-list__range_slider {
  display: contents;
}
.item-list__range_slider li {
  list-style-type: none;
}

.ajax-progress {
  .ajax-throbber {
    & > div {
      background-color: $link-color-hover;
    }
  }
}

.block-facet--range-slider {
  min-height: 114px;
}
