figure {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;

  &.align-left {
    margin-right: 1.25rem;
  }
  &.align-right {
    margin-left: 1.25rem;
  }

  &.caption {
    & figcaption {
      background: $gray-100;
      display: block;
      font-size: .96rem;
      margin-bottom: 0;
      padding: .5rem .25rem;
    }
  }
}
