/* Override UNB LIB THEME 9.x-4.x class */
a.external:after,
#header button[data-target="#navbar"][aria-expanded="false"]::after,
#header button[data-target="#navbar"][aria-expanded="true"]:after,
.site-footer>div:not(.footer-middle) a.nav-link::after,
#emergency-banner .alert .alert-title:before {
  font: var(--fa-font-solid);
  font-size: 95%;
  font-weight: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  vertical-align: inherit;
}

#header button[data-target="#navbar"][aria-expanded="false"]::after {
  margin-left: .35rem;
}

#header button[data-target="#navbar"][aria-expanded="false"]::after,
#header button[data-target="#navbar"][aria-expanded="true"]:after {
  vertical-align: text-top;
}
