.views-exposed-form {
  .form-actions {
    display: flex;
    align-self: flex-end;

    input {
      &:first-child {
        margin-right: .5rem;
      }
    }
  }
}

// Digital Title Listing view | submit button alignment
.digital-titles {
  .views-exposed-form {
    .form-row {
      .form-actions[data-drupal-selector="edit-actions"] {
        align-self: flex-start;
        margin-top: 1.7rem;
      }
    }
  }
}

// Autocomplete throbber: prevent overlapping with user input
.js input.form-autocomplete,
.js input.form-autocomplete.ui-autocomplete-loading {
  background-position: 99% center;
  padding-right: 1.2rem;
}

// Override for Barrio applying "form-control" on submit buttons
input[type="submit"].form-control {
  width: inherit;
}

// Serial holding form-inspired rules.
.field--widget-options-buttons fieldset legend {
    font-size: 1rem;
    font-weight: bold;
}
div[required="required"] > fieldset {
  legend span.js-form-required {
    &:after {
      background-image: none;
      color: $unb-red;
      content: '(required)';
      font-size: .925rem;
      font-weight: normal;
      vertical-align: baseline;
    }
  }

  .custom-checkbox,
  .custom-radio {
    input.error + label {
      color: $unb-red;
    }
  }
}
// Fix Barrio form-required + BS4 custom control checkbox.
.custom-checkbox,
.custom-radio {
  label.form-required {
    &:after {
      background-size: 9px;
      margin: 4px;
      width: 9px;
      height: 8px;
    }
  }
}
.custom-radio {
  label.form-required {
    &:after {
      margin: 4px 3px;
    }
  }
}
