.navbar-default {
  background-color: $white;
  font-family: 'Source Sans Pro',"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;

  #defaultmenu {
    padding-left: 0;
    padding-right: 0;
    @media screen and (min-width: 768px) {
      padding-left: 1px;
      padding-right: 1px;
    }

    @media screen and (max-width: 767px) {
      .navbar-nav {
        background: #1b2125;
        color: $white;

        & > li > a {
          background: inherit!important;
          margin-bottom: 0;
          text-align: left;

          &:after {
            content: '\f077';
          }
        }
      }
    }

    .dropdown {
      overflow: hidden;

      .dropdown-menu {
        font-size: inherit;
        margin-left: -15px;
        margin-right: -15px;
      }

      a.dropdown-toggle {
        &:focus,
        &:hover {
          border-bottom: 3px solid #bd0000;
          text-decoration: none;
        }
      }

      &.open {
        background-image: -webkit-linear-gradient(top,#dbdbdb 0,#e2e2e2 100%);
        background-image: -o-linear-gradient(top,#dbdbdb 0,#e2e2e2 100%);
        background-image: -webkit-gradient(linear,left top,left bottom,from(#dbdbdb),to(#e2e2e2));
        background-image: linear-gradient(to bottom,#dbdbdb 0,#e2e2e2 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdbdbdb', endColorstr='#ffe2e2e2', GradientType=0);
        background-repeat: repeat-x;
        color: $black;

        & > a.dropdown-toggle {
          background: inherit;
          -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, .075);
          box-shadow: inset 0 3px 9px rgba(0, 0, 0, .075);
          border-bottom: 3px solid #bd0000;
          color: $black;

          @media screen and (max-width: 767px) {
            &:after {
              color: $black;
              content: '\f078';
            }
          }
        }
      }

      .dropdown-menu {
        a {
          line-height: unset;
          text-align: left;

          &:focus,
          &:hover,
          &:active {
            color: #fc0;
            text-decoration: none;
          }
        }
      }
    }
  }

  .navbar-mobile {
    margin-left: 0;
    margin-right: 0;
    padding-left: 10px;
    padding-right: 10px;

    button[aria-expanded=true],
    .navbar-toggle:hover,
    .navbar-toggle:focus {
        background-color: #1b2125;
        color: $white;
        text-decoration: none!important;

      .fa-wh {
        color: $white;
      }
    }

    button[data-target="#defaultmenu"] {
      float: left;
    }
    button[data-target="#image-hours"] {
      float: none;
    }
    .askus-nomenu navbar-toggle {
      float: right
    }
  }

  &.affix {
    #defaultmenu .navbar-nav {
      .dropdown a.dropdown-toggle:focus,
      .dropdown a.dropdown-toggle:hover {
        background: inherit!important;
        border-bottom-color: $white;
        color: $white;
      }

      li.open > a.dropdown-toggle,
      li.open > a.dropdown-toggle:focus {
        border-bottom-color: $white;
        color: $black;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
  /* Center unb logo between affix trigger/large width */
  .container .nav {
    .UNBLib-logo {
      width: 100%;
    }
  }

  /* Premature Affix fix */
  .container nav.affix {
    margin-left: -15px;
    margin-right: -15px;

    & > .row {
      margin: 0;
    }

    .UNBLib-logo {
      background-position: 50% 50%;
    }

    #defaultmenu {
      .dropdown {
        a {
          &.dropdown-toggle:focus,
          &.dropdown-toggle:hover {
            background-color: inherit !important;
            border-bottom-color: $white;
            color: $white;
          }
        }

        &.open > a.dropdown-toggle {
          border-bottom-color: $white;
          color: $black;
        }
      }
    }
  }
}

/* Remove unb-lib nav bottom border */
.navbar.fhmm.affix-top {
  border-bottom: none;
}

/* Hours toggle fix */
@media (min-width: 768px) {
  #image-hours {
    height: 200px!important;
  }
}
