// Colors.
$checkmark: #6dc97e;
$link-color: #006b8a;
$link-color-hover: #900;

$text-muted: #595959;
$unb-lib-panel-heading: #333;

$widget-hover-color: #31b0d5;

$heading-bg: #e9ecef;
$accessible-pink: #e01a76;
