nav {
  .pagination {
    margin-top: 1.5rem;
    justify-content: center;

    span.page-link {
      color: $black;

      &:hover {
        background: none;
        color: inherit;
      }
    }

    a.page-link {
      &:hover {
        border-style: solid!important;
      }
    }
  }
}
