.pager,
.pagination {
  margin-top: 1rem;

  a.btn.disabled {
    border-color: $gray-300;
    border-width: 1px;
  }
}

.pager {
  text-align: center;
}
.pagination {
  justify-content: center;
  flex-wrap: wrap;

  .page-item:not(.active) {
    span.page-link {
      color: $black;

      &:hover {
        background: none;
        color: inherit;
      }
    }
  }
  span#active-viewer-page {
    cursor: default;
  }

  .page-item.active .page-link {
    background: $link-color;
  }

  a.page-link {
    color: $link-color;
    &:hover {
      border-style: solid!important;
    }
  }
}
