.pager,
.pagination {
  margin-top: 1rem;

  a.btn.disabled {
    border-color: $gray-300;
    border-width: 1px;
  }
}

.pager {
  text-align: center;
}
.pagination {
  justify-content: center;

  span.page-link {
    color: $black;

    &:hover {
      background: none;
      color: inherit;
    }
  }

  span#active-viewer-page {
    cursor: default;
  }

  a.page-link {
    &:hover {
      border-style: solid!important;
    }
  }
}
