.table-striped {
  tbody tr:nth-of-type(odd) {
    background-color: $gray-100;
  }

  thead {
    th {
      &#view-nothing-table-column,
      a {
        padding: .25rem;
        white-space: nowrap;
      }

      a {
        &:focus,
        &:hover {
          background-color: #3E454C;
        }

        &::before {
          content: "\f0dc";
          display: inline-block;
          font: var(--fa-font-solid);
          font-size: 80%;
          margin-bottom: 2px;
          margin-right: .5rem;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
        }
      }
    }

    th, td {
      padding-top: .25rem;
      padding-bottom: .25rem;
    }
  }
}

.table-hover {
  tbody {
    tr:hover {
      background-color: #fffdfa;
    }
  }
}
