// UNB Lib theme + bootstrap assets.
// @import '../../../../../vendor/unb-libraries/unb_lib_theme/assets/stylesheets/unblib';

// Subtheme local variables.
@import 'local-variables';

/* unb-lib.css + overrides.min.css override */
.select-wrapper select,
input:not([type=button]):not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=date]) {
  line-height: normal;
}
.tabledrag-handle:hover {
  border: none;
}
.table {
  margin-bottom: initial;
}
.panel-body {
  border-top: none;
  padding: 15px;
}
.panel-default > .panel-heading {
  background: #dedede;
  color: #333;
}
.panel-default > .panel-heading a {
  color: #333;
}
a:hover,
a:active,
a:focus {
  border-style: none;
  text-decoration: underline;
}
.panel-heading a {
  font-weight: bold;
}

.description {
  color: $text-muted;
}

// Improve autocomplete.
.ui-autocomplete li:first-child:before {
  border-bottom: 1px solid $text-muted;
  color: $text-muted;
  content: 'Suggested matches';
  display: block;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: .5em;
  padding: .5em 0;
}
.ui-autocomplete {
  background: #f5faff;
}
.ui-autocomplete li,
.ui-autocomplete li a {
  display: block;
}

.main-container {
  margin-top: 1em;
}

#edit-reset:before {
  font-family: 'Glyphicons Halflings';
  content: "\e031";
  color: #777;
  font-size: smaller;
  margin-right: 0.25em;
  vertical-align: text-bottom;
}

#edit-delete:before {
  font-family: 'Glyphicons Halflings';
  content:"\e020";
  color: #777;
  display: inline-block;
  font-size: smaller;
  margin-right: 0.25em;
  vertical-align: text-bottom;
}
#edit-cancel:before {
  font-family: 'Glyphicons Halflings';
  content:"\e014";
  color: #777;
  display: inline-block;
  font-size: smaller;
  margin-right: 0.25em;
  vertical-align: text-bottom;
}

div[class*="ref-up"] label:before {
  font-family: 'Glyphicons Halflings';
  content:"\e093";
  color: #5cb85c;
  margin-right: 2px;
}
div[class*="ref-dn"] label:before {
  font-family: 'Glyphicons Halflings';
  content:"\e094";
  color: #5cb85c;
  margin-right: 2px;
}
div[class*="ref-up"] .chosen-container,
div[class*="ref-dn"] .chosen-container {
  margin: 0 18px;
}

/* Chosen overrides */
select[multiple="multiple"] + .form-control {
  border: none;
  padding: 0;
  width: 98%!important;
}
.chosen-container-multi .chosen-choices li.search-choice {
  margin-top: 6px;
}

/* Fix overrides.min.css / unb-lib.css conflict */
.panel-default > .panel-heading {
  color: $unb-lib-panel-heading;
}

.panel-heading a,
.panel-heading a:focus,
.panel-heading a:hover,
.panel-title:hover:focus {
  background: none;
  color: $unb-lib-panel-heading;
  outline: none;
  padding-right: 0;
}

.form-item {
  transition: all linear 0.4s;
}

a.btn-add {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  margin-bottom: 1.5em;
}
a.btn-add:hover,
a.btn-add:focus,
a.btn-add:active {
  color: #333;
  background-color: #e6e6e6;
  border: 1px solid #adadad;
  text-decoration: none;
}
a.btn-add::before {
  font-family: 'Glyphicons Halflings';
  content: "\e081";
  color: #5cb85c;
  margin-right: .33em;
  vertical-align: top;
}

.messages--info {
  color: #325e1c;
  border-color: #c9e1bd #c9e1bd #c9e1bd transparent;
  box-shadow: -8px 0 0 #333;
}

.table > tbody > tr > td.field-multiple-drag {
  vertical-align: middle;
  width: 40px;
}
.tabledrag-handle {
  float: none;
}

/* Chosen + Bootstrap */
.select-wrapper .chosen-container {
  padding: 4px 2em 4px 12px;
  width: 100% !important;
}
.chosen-container .chosen-drop {
  border-color: #ccc;
  left: 0;
}
.chosen-container-active.chosen-with-drop .chosen-single {
  background: #fff;
  border: none;
}
.chosen-container-single .chosen-single {
  background: #fff;
  border: none;
  box-shadow: none;
  padding: 0;
}
.chosen-container-single .chosen-single div b {
  display: none;
}
.chosen-container-single .chosen-single span {
  margin-right: 5em;
}

/* Search results */
.search-results .glyphicon {
  font-size: smaller;
  margin-right: .1em;
  vertical-align: baseline;
}
.search-results .views-row {
  margin-bottom: 1.5em;
}
.search-results h3 {
  margin-bottom: 0;
}
.views-field-search-api-excerpt {
  color: #767676;
}
.views-field-search-api-excerpt strong {
  color: #000;
}

