/* newspapers_lib_unb_ca custom CSS. */

/* Colour.
 *
 * red1:  cc0000;
 * red2:  990000;
 * gray1: f8f8f8;
 * gray2: e7e7e7;
 */

/* All forms. */

#edit-preview {
  display: none;
}

/* Bootstrap global overrides. */

label {
  margin-right: 10px !important;
}

/* Bootstrap global decoration overrides. */

input:hover,
input:focus,
input:active,
select:hover,
select:focus,
select:active {
  box-shadow: none !important;
  border-color: #990000 !important;
}

a,
.pagination > li > a,
.pagination > li > span {
  color: #cc0000;
}

.select-wrapper:after {
  color: #990000;
}

a:hover,
a:focus,
a:active,
.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > li > a:active,
.pagination > li > span:hover,
.pagination > li > span:focus,
.pagination > li > span:active {
  color: #990000;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #cc0000;
  border-color: #cc0000;
}
.btn-info,
.btn-primary {
  background-color: #cc0000;
  border-color: #990000;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #990000 !important;
  border-color: #990000 !important;
  outline: none !important;
}

/* Anniversaries filters form */

div.view-filters.form-group {
  margin-top: 20px;
  margin-bottom: 40px;
  background-color: #f8f8f8;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  padding: 20px;
}

div#anniv-filter-form {
  display: flex;
}

div#anniv-filter-form div:nth-child(1) {
  width: 50%;
  min-width: 110px;
}

div#anniv-filter-form div:nth-child(2) {
  min-width: 110px;
}

div#anniv-filter-form div#edit-actions {
  margin-top: 20px;
}

div#anniv-filter-form label,
div#anniv-filter-form input,
div#anniv-filter-form select,
div#anniv-filter-form button {
  display: inline-table;
}

div#anniv-filter-form button {
  margin-left: 4px;
  margin-right: 0px;
}

div#anniv-filter-form button {
  margin-top: 5px;
}

div#anniv-filter-form span {
  display: none;
}

form#views-exposed-form-dsets-browse-anniversaries-page-1 input.form-control {
  width: 98%;
}

form#views-exposed-form-dsets-browse-anniversaries-page-1 select.form-control {
  width: 98%;
}

div#anniv-filter-title h2 {
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 20px;
}

div#anniv-filter-form button {
  background-color: #000000;
  border-color: #000000;
}

div#anniv-filter-form button:hover,
div#anniv-filter-form button:focus,
div#anniv-filter-form button:active {
  background-color: #444444 !important;
  border-color: #444444 !important;
  outline: none !important;
}

/* Anniversaries for Year form */

form#dsets-anniv-year-form .form-control,
form#dsets-anniv-year-form div {
  display: inline;
}

form#dsets-anniv-year-form .form-control {
  width: 85px;
}

.radio input[type="radio"], .radio-inline input[type="radio"],
.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
  position: relative;
  top: -1px;
}

label.control-label.option {
  margin-left: 10px;
}

label.control-label.option input#edit-anniv-x5 {
  margin-right: 4px;
}

/* User account menu */

footer #block-useraccountmenu ul.navbar-right {
  float: left !important;
  margin-before: 1em !important;
}

footer.row {
  padding-left: 15px;
}

/* Footer */

#libs-footer-logo {
  max-width: 300px;
}

/* Specific */

a[href="/user"] {
  display: none !important;
}

a[href="/user/register"] {
  display: none !important;
}

a[href="/user/password"] {
  display: none !important;
}

table#dsets_intro_table td {
  padding: 2px 20px;
}

div#edit-field-dsets-anniv-event-subject-wrapper div.fieldset-wrapper {
  -webkit-columns: 5 200px;
  -moz-columns: 5 200px;
  columns: 5 200px;
}

div#edit-field-dsets-anniv-note-0-format {
  display: none;
}

div#edit-field-dsets-anniv-source-0-format {
  display: none;
}

div#edit-field-dsets-bio-location-0-format {
  display: none;
}

div.tabbable.tabs-left.vertical-tabs.clearfix {
  display: none;
}

div.field.field--label-above {
  margin-bottom: 20px;
}

form.node-dsets-anniversary-event-delete-form.node-confirm-form.confirmation div#edit-actions {
  margin-top: 20px;
}
