{#
/**
 * @file digital_serial_title.html.twig
 * Default theme implementation to present Digital serial title data.
 *
 * This template is used when viewing Digital serial title pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_digital_serial_title()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('digital_serial_title') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
