.chosen-results li:first-child {
    background: #666;
    color: #fff;
}
.chosen-container-single a.chosen-single:hover {
    text-decoration: none!important;
}
label.form-required::after {
    background-image: none;
}
