/* Tab Navigation style for Front page form */
form .nav-tabs {
  border-bottom: none;
}
form .nav-tabs > li.active > a,
form .nav-tabs > li.active > a:hover,
form .nav-tabs > li.active > a:focus {
  border-color: #333;
  border-bottom: none;
}
form {
  margin-bottom: 2rem;
}
form .nav-tabs > li > a {
  border: none;
}
.alert {
  margin-top: inherit!important; /* unb-lib.css override */
}

#newspapers-core-homepage .nav-item .active {
  color: #343a40;
}
#newspapers-core-homepage .nav-item .active:hover {
  cursor: default;
}
.tab a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

#search-wrapper #title fieldset input:not(:focus),
#search-wrapper #fulltext fieldset input:not(:focus) {
  border-color: #6c757d;
}

.search-form .form-wrapper {
  margin-bottom: 1.5em;
}
#panel-wrapper .form-group {
  margin-bottom: 0;
}
#search-wrapper .tab-pane {
  width: 100%;
}
#search-wrapper .tab-pane fieldset {
  flex-grow: 1;
}
#search-wrapper .tab-pane fieldset.form-type-search {
  margin-right: 0.25rem;
}

#search-wrapper>.active {
  display: flex;
  flex-wrap: wrap;
}
.tab-pane div.form-item,
.tab-pane div.description {
  width: 75%;
}
div[data-drupal-selector="edit-actions"] {
  margin-top: 1rem;
}
@media (min-width: 980px) {
  div[data-drupal-selector="edit-actions"] {
    margin-top: 1.875rem;
  }
}
div[data-drupal-selector="edit-actions"] input {
  line-height: normal;
}
div[data-drupal-selector="edit-actions"] .btn-unb-red:focus,
div[data-drupal-selector="edit-actions"] .btn-unb-red:hover,
div[data-drupal-selector="edit-actions"] .btn-unb-red:active {
  color: #fff!important;
}
#edit-search-scope .custom-checkbox .custom-control-label::before,
#edit-search-scope .custom-checkbox .custom-control-label::after {
  left: -1.33rem;
  top: .15rem;
}
.search-tips {
  font-size: 90%;
}
.search-tips .h3 {
  font-size: 100%;
}

.stats {
  border-top: 1px solid #dee2e6;
}
.stats table tr {
  border-style: hidden;
}
.stats table th {
  font-size: .9rem;
  letter-spacing: 1px;
  line-height: 115%;
  vertical-align: middle;
}
.stats table td {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 3rem;
  vertical-align: middle;
}

#footer-top h2 {
  color: #333;
  font-family: 'ProximaNovaA-SemiBold','Century Gothic',AppleGothic,Arial,sans-serif;
  font-weight: normal;
}
#footer-top > div {
  width: 100%;
}
@media (min-width: 992px) {
  .stats {
    border-top: none;
    border-left: 1px solid #dee2e6;
  }

  #footer-top > div {
    width: 50%;
  }
}

@media (max-width: 990px) {
  .tab-pane div.form-item,
  .tab-pane div.description {
    width: 100%;
    float: none;
  }
  .tab-pane div.form-type-textfield + span button {
    margin-top: 0;
    margin-button: 2em;
  }
}
@media (max-width: 414px) {
  form .nav > li > a {
    padding-left: 13px;
    padding-right: 13px;
  }
}
@media (max-width: 320px) {
  form .nav > li > a {
    padding-left: 6px;
    padding-right: 6px;
  }
}
