/* Tab Navigation style for Front page form */
form .nav-tabs {
    border-bottom: none;
}
form .nav-tabs > li.active > a,
form .nav-tabs > li.active > a:hover,
form .nav-tabs > li.active > a:focus {
    border-color: #333;
    border-bottom: none;
}
form .nav-tabs > li > a {
    border:none;
}
.alert {
    margin-top: inherit!important; /* unb-lib.css override */
}
.tab a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.search-form .form-group {
    margin-bottom: 0;
    padding-bottom: 15px;
}
a#tab-fulltext:before {
    font-family: "Glyphicons Halflings";
    content: "\e055";
    font-size: small;
    padding-right: 5px;
}
a#tab-title:before {
    font-family: "Glyphicons Halflings";
    content: "\e056";
    font-size: small;
    padding-right: 4px;
}
.tab-pane div.form-item,
.tab-pane div.description {
    width: 75%;
    float:left;
}
.tab-pane > div input {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    height: 34px!important; /* unb-lib.css override */
}
.tab-pane div.form-type-textfield + span {
    width: 25%;
}
.tab-pane div.form-type-textfield + span button {
    margin-top: 27px;
}

@media (max-width: 990px) {
    .tab-pane div.form-item, .tab-pane div.description {
        width: 100%;
        float: none;
    }
    .tab-pane div.form-type-textfield + span button {
        margin-top: 0;
        margin-button: 2em;
    }
}
