#seadragon-viewer {
  background: #f8f9fa;
  border : 1px solid #dee2e6;
  height: 85vh;
  padding: 0.25em;
}
@media only screen and (max-width: 480px) {
  #seadragon-viewer {
    height: 75vh;
  }
}

#digital-serial-page-page-viewer-form > pre {
  background-color: #f6f6f2;
}

.digital-serial-page-highlight {
  background-color: #f00;
  opacity: 0.5;
}

.border.btn-link:hover {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  -moz-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  -ms-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  -o-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
#seadragon-viewer .openseadragon-container div[title] {
  cursor: pointer;
}
