#seadragon-viewer {
  background: #f8f9fa;
  border : 1px solid #dee2e6;
  height: 85vh;
  padding: 0.25em;
}
@media only screen and (max-width: 480px) {
  #seadragon-viewer {
    height: 75vh;
  }
}

#digital-serial-page-page-viewer-form > pre {
  background-color: #f6f6f2;
}

.border.btn-link:hover {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  -moz-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  -ms-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  -o-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

table caption {
  color: #212529;
  font-family: "ProximaNovaA-Thin", "Century Gothic", AppleGothic, Arial, sans-serif;
  font-size: 1.3rem;
}
.card .card-body {
  padding: 1rem;
}
a span.filesize {
  display: inline-block;
  padding-left: .25rem;
  text-decoration: none;
}

#toolbarDiv {
  background: #fff;

  div:last-child {
    width: inherit!important;

    div:first-child {
      position: relative!important;
    }
  }

  #backLink:before,
  button[data-toggle="collapse"]:after {
    display: inline-block;
    font: var(--fa-font-solid);
    margin-left: 0.2rem;
    text-rendering: auto;
    vertical-align: text-bottom;
    -webkit-font-smoothing: antialiased;
  }
  #backLink:before {
    content: "\f048";
    margin-right: 0.25rem;
  }
  button[aria-expanded="true"]:after {
    content: "\f0d8";
  }
  button[aria-expanded="false"]:after {
    content: "\f0d7";
  }

  &.fullpage {
    background: #eee;
    justify-content: center!important;

    button[data-target="#detailsWrapper"],
    .pagination,
    .social-wrapper,
    .citation-wrapper {
      display: none;
    }
  }

  /* OpenSeadgraon Controls: copy default button focus style. */
  div[tabindex="0"] {
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: box-shadow .15s ease-in-out;

    &:hover,
    &:focus-visible {
      box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
      outline: none;
    }

  }
}

#backLink:before {
  content: "\f048";
  display: inline-block;
  font: var(--fa-font-solid);
  margin-right: 0.25rem;
  margin-left: 0.2rem;
  text-rendering: auto;
  vertical-align: text-bottom;
  -webkit-font-smoothing: antialiased;
}

.btn[aria-expanded="true"] {
  color: #900;
}

.social-wrapper a {
  margin: 0.1rem 0;
}

fieldset legend {
  font-size: medium;
  font-weight: bold;
}
