{#
/**
 * @file digital_publication_page.html.twig
 * Default theme implementation to present Digital publication page data.
 *
 * This template is used when viewing Digital publication page pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_digital_publication_page()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('digital_publication_page') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
